# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template
/Project/GD32F407_EC12_analysis.xlsx
/Project/GD32F407_EC12_sort_by_flash.csv
/Project/GD32F407_EC12_sort_by_ram.csv
/Project/keil5_disp_size_bar.exe
/Project/Target 1_alog.txt
*.csv
*.xlsx
Target 1_alog.txt

Objects/
Listings/
.cmsis/
.pack/
*.uvguix.*
